<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MauppiMedia v2 - Home</title>
        <meta name="description" content="Mauppimedia">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="" async defer></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="head-panel">
            <h2 class="head-panel-title">MauppiMedia</h2>
            <a class="head-panel-link" href="/">Home</a>
            <a class="head-panel-link" href="/create/song">Create song!</a>
        </div>
        <div class="content">
            <% if (songs) { %> 
            <ol>
                <% songs.forEach(function(song) {%>
                    <img src="<%= song.image_path %>" style="width: 15vmax; height: 15vmax; cursor: pointer;" onclick="window.location.assign('/listen?song=<%= song.id %>')">
                    <li>
                        <a href="/listen?song=<%= song.id %>"><%= song.artist %> - <%= song.title %></a>
                    </li>
                <% }) %> 
            </ol>
            <% } %> 
        </div>
        <div class="footer">
            <p>Made by Mauppi while taking a huge crap, 2022</p>
        </div>
    </body>
</html>