<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MauppiMedia - Listening to <%= artist %> - <%= title %></title>
        <meta name="description" content="Mauppimedia">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src="/static/js/rating.js" defer></script>
        <script src="/static/js/howler/howler.min.js"></script>
        <script src="/static/js/musicplayer.js" async defer></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <script>
            var sound = new Howl({
                src: ['/api/audio/<%= id %>'],
                html5: true
            });
            id = "<%= id %>";
        </script>
        <div class="audio-player" style="background-image: url('<%= img %>');">
            <div class="bottom-gradient">
                <div class="bottom-controls">
                    <h1 class="song-title"><%= artist %> - <%= title %> </h1>
                    <button class="player-play" onclick="startMusic()">Play</button>
                    <input type="range" class="player-progress" id="player-prog"  oninput="seektime()" value="0" max="100">
                    <p class="player-prog-p" id="player-prog-text"></p>
                </div>
                <div class="player-rating-area">
                    <img class="rating-star" id="rstar0" onclick="clickStar(0)" src="/static/img/rating/star_gray.png">
                    <img class="rating-star" id="rstar1" onclick="clickStar(1)" src="/static/img/rating/star_gray.png">
                    <img class="rating-star" id="rstar2" onclick="clickStar(2)" src="/static/img/rating/star_gray.png">
                    <img class="rating-star" id="rstar3" onclick="clickStar(3)" src="/static/img/rating/star_gray.png">
                    <img class="rating-star" id="rstar4" onclick="clickStar(4)" src="/static/img/rating/star_gray.png">
                </div>
            </div>
            <a class="home-a" href="/"><- Go Home</a>
        </div>

    </body>
</html>